.venv/
.idea/
.mypy_catch/
__pycache__/
.vscode/
.mypy_catch/
.history/
.*/
build/
pyhelper.egg-info/
*.log
*.tmp
*.bat
*.exe
*.temp
*.pyc
uv.lock
update.*
cao.*
test.*
nul
desktop.ini
DEBUG
feature.md
